// Заголовки, загальні БЕМ блоки та інше...
section {
	overflow: hidden;
}

.row-align-center {
	display: flex;
	align-items: center;
}

.col {
	display: flex;
	flex-direction: column;
}

.col-align-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-heading {
	font-family: PlayfairDisplay;
	font-size: 4.5rem;
	font-weight: 700;
	line-height: 120%; /* 5.4rem */
}
.text-heading-1 {
	font-family: PlayfairDisplay;
	font-size: 3rem;
	font-weight: 700;
	line-height: 120%; /* 5.4rem */
}

.text-heading-2{
font-size: 3rem;
font-weight: 400;
line-height: 150%; 
}

.text-heding-medium {
	font-family: PlayfairDisplay;
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 130%; /* 2.6rem */
}

.text-heading-little {
	font-family: Playfair Display;
	font-size: rem(32);
	font-weight: 400;
	line-height: 120%;
}

.text-heading-little-bold {
	font-family: Playfair Display;
	font-size: rem(32);
	font-weight: 700;
	line-height: 120%;
}

.text-heading-little-bold-common {
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 150%;
}

.text-heading-little-bold-common-1 {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 150%;
}

.text-common-nedium-1 {
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 150%; /* 1.5rem */
}
.text-common-nedium-2 {
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 1.5rem */
}

.text-common-phone {
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 1.6875rem */
}

.text-heading-little-common-1 {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 150%;
}
.text-heading-little-common-2 {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 150%;
}

.red {
	color: $bgColorContainer;
}

.bg-red {
	background-color: $bgColorContainer;
}

.bg-yellow {
	background-color: $bgYellow;
}

.blue {
	color: $blue;
}

.bg-blue {
	background-color: $blue;
}

.bg-cream {
	background-color: $bgColorWrapper;
}

.white {
	color: #fff;
}

.icon-round {
	display: flex;
	width: 6rem;
	height: 6rem;
	padding: 0.75rem;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	border-radius: 6.1875rem;
}
.text-common {
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 1.6875rem */
}
.text-common-1 {
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 1.5rem */
}

.gap-10 {
	gap: 10rem;
}

.learn-more-btn {
	display: flex;
	padding: 0.5rem 1.25rem;
	justify-content: center;
	align-items: center;
	border-radius: 6.1875rem;
	border: 1px solid $blue;
}
