// Заголовки, загальні БЕМ блоки та інше...
.row_align_center {
	display: flex;
	align-items: center;
}

.text_heading {
	font-family: PlayfairDisplay;
	font-size: 4.5rem;
	font-weight: 700;
	line-height: 120%; /* 5.4rem */
}

.text_heding_medium {
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 130%; /* 2.6rem */
}

.red {
	color: $bgColorContainer;
}

.bg_red {
	background-color: $bgColorContainer;
}

.icon_round {
	display: flex;
	width: 6rem;
	height: 6rem;
	padding: 0.75rem;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	border-radius: 6.1875rem;
}
.text_common {
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 1.875rem */
}
