.gss {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.gss__container {
	gap: 10rem;
	padding: 0 0 10rem 0;
	width: 100%;
	h2 {
		margin-bottom: 3.5rem;
	}
}
.gss__container .gss-block:nth-child(odd) {
	margin-left: 50%;
	@media (max-width: 1440px) {
		margin-left: 40%;
	}
}

.gss__container .gss-block:nth-child(even) {
}

.head-gss-block-content {
	p {
		text-align: center;
		width: 45rem;
	}
}

.mission {
	color: $bgColorContainer;
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

.gss-block {
	width: 100%;
	display: flex;
	gap: 1.5rem;

	&.first {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: start;
		align-items: start;
		margin-left: 0;
		& div:last-child {
		}
		.decor {
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 1rem;
			flex: 0.7;
		}
		@media (max-width: 1440px) {
			.decor {
				flex: 0.83;
			}
		}
		.line {
			flex: 2;
		}
		.icon-round {
			height: 7.2rem;
			width: 7.2rem;
		}
		.content {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
		}
	}

	.col {
		// gap: 1.5rem;
		align-self: flex-end;
	}
	.text-common {
		width: rem(410);
	}
}

.line {
	width: 45%;
	height: 0.125rem;
}

.bottom-block {
	display: flex;
	gap: 1.56rem;
	width: 60rem;
	padding: 3.5rem;
	flex-direction: column;
	align-items: center;
	border-radius: 1.5625rem;
	.subscribe-btn {
		height: 3rem;
	}
}

.brb-heading {
	text-align: center;
	span {
		font-weight: 400;
		font-style: italic;
	}
}
