.modal-menu{
    a:focus {
        outline: none;
    }
    
    border-radius: rem(25);
	padding: 3.5rem;
    .top-section{
        display: flex;
		justify-content: space-between;
        align-items:center;
        margin-bottom: 3rem;
        .cancel-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.75rem;
            height: 3.75rem;
            border: 1px solid #fff;
            border-radius: 50%;
            cursor:pointer;
        }
    }
    .menu-wrapper{
        display: flex;
        justify-content: end;
        margin-bottom: 6rem;
        .menu{
            margin-right: 25%;
        }
    }

    .content-grid{
        display: grid;
        grid-template-columns: 0.8fr 1fr 0.1fr;
        gap: 1.5rem;
        .cell:nth-child(3) {
            gap:2rem;
            grid-row: span 2; 
            display:flex;
            flex-direction:column;
            justify-content:end;
            align-items:end;
        }
        .cell:nth-child(4), .cell:nth-child(5){
            color: var(--White, #FFF);
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 150%; 
        }
        .cell:nth-child(5){
            display: flex;
            justify-content: center;
        }
    }
}